@use '../abstracts/breakpoints' as *;

.home-page {

    &__container {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @media(min-width: $breakpoint-laptop-1) {
            display: grid;
            grid-template-columns: 1fr .5fr;
            grid-template-rows: min-content;
            align-items: start;
        }

        @media(min-width: $breakpoint-desktop-1) {
            gap: 24px;
        }

        @media(min-width: $breakpoint-desktop-2) {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: min-content;
        }
    }

    &__repeat-card {
        grid-column: 2;

        @media(min-width: $breakpoint-desktop-2) {
            grid-column: 2/4;
            grid-row: 1;
        }
    }

    &__progress-card {
        grid-column: 2;
        grid-row: 2;

        @media(min-width: $breakpoint-desktop-2) {
            grid-column: 2/4;
        }
    }

    &__search-field {
        grid-column: 1;
    }

    &__sort-box {
        position: relative;

        // @media(min-width: $breakpoint-laptop-1) {
        //     grid-column: 3;
        // }
    }

    &__tabs {
        background: none;
    }

    &__sets {
        @media(max-width: $breakpoint-laptop-1) {
            box-shadow: none !important;
        }

        @media(min-width: $breakpoint-laptop-1) {
            grid-column: 1;
            grid-row: 1/4;

            background: var(--color-gray-100);

            padding: 16px;

            border-radius: var(--radius-12);

            align-self: stretch !important;
        }

        @media(min-width: $breakpoint-desktop-2) {
            grid-column: 2/4;
            grid-row: 3;

            align-self: baseline !important;
        }
    }

    &__sets-list {
        @media(min-width: $breakpoint-laptop-1) {
            overflow: auto;

            max-height: 902px;
            height: 902px;
        }

        @media(min-width: $breakpoint-desktop-2) {
            max-height: 435px;
            height: 435px;
        }
    }

    &__categories {
        display: none !important;

        @media(min-width: $breakpoint-laptop-1) {
            display: flex !important;

            grid-column: 2;
            grid-row: 3;

            background: var(--color-gray-100);

            padding: 16px;

            border-radius: var(--radius-12);

            align-self: stretch !important;
        }

        @media(min-width: $breakpoint-desktop-2) {
            grid-column: 1;
            grid-row: 3;

            align-self: baseline !important;
        }

        &-btn {
            @media(min-width: $breakpoint-desktop-2) {
                .button__inner {
                    aspect-ratio: 1/1 !important;
                }

                .button__text {
                    display: none;
                }
            }
        }
    }

    &__categories-list {
        @media(min-width: $breakpoint-laptop-1) {
            overflow: auto;

            max-height: 600px;
            height: 600px;
        }

        @media(min-width: $breakpoint-desktop-2) {
            max-height: 432px;
            height: 432px;
        }
    }

    &__sets-header {
        display: none !important;

        @media(min-width: $breakpoint-laptop-1) {
            display: flex !important;
        }
    }

    &__settings {
        align-self: stretch;
        justify-content: space-between;

        background: var(--color-gray-100);

        padding: 16px;

        border-radius: var(--radius-12);

        @media(max-width: $breakpoint-desktop-2) {
            display: none !important;
        }

        @media(min-width: $breakpoint-desktop-2) {
            grid-column: 1;
            grid-row: 1/3;
            display: flex !important;
        }
    }

    &__profile {
        background: var(--color-gray-100);

        padding: 16px;

        border-radius: var(--radius-12);

        @media(max-width: $breakpoint-desktop-2) {
            display: none !important;
        }

        @media(min-width: $breakpoint-desktop-2) {
            grid-column: 4;
            grid-row: 1/4;
            display: flex !important;
        }
    }
}
