@use '../abstracts/functions' as *;
@use '../abstracts/breakpoints' as *;

.auth-page {

    &__hero {
        display: none;
    }

    &__right {
        display: flex;
        align-items: center;

        height: 100%;

        margin-top: 64px;
    }

    &__form {
        margin: 0 auto;
    }

    &__divider {
        display: flex;
        align-items: center;
        gap: 16px;

        color: var(--color-gray-700);
        font-size: 14px;
        font-weight: 600;

        span {
            white-space: nowrap;
        }

        &::before,
        &::after {
            content: '';
            flex: 1;

            height: 1px;
            background: var(--color-gray-600);
        }
    }

    &__agreement {
        font-size: fluid(11px, 14px);

        color: var(--color-gray-600);

        a {
            text-decoration: underline;
            text-underline-offset: .25em;
        }
    }

    &__field-header,
    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 8px;
    }

    &__error {
        color: var(--color-danger-500);

        font-weight: 600;
    }

    &__success {
        color: var(--color-success-500);

        font-weight: 600;
    }
}

@media (min-width: 1024px) {
    .auth-page {
        min-height: 100vh;

        display: grid;
        grid-template-columns: 1fr minmax(min-content, 1fr);
        align-items: center;

        background: var(--color-gradient-auth);

        &__hero {
            display: block;

            overflow: hidden;

            height: 100%;
        }

        &__right {
            clip-path: ellipse(170% 150% at 175% 50%);

            background: var(--color-gray-100);

            margin-top: 0;
        }

        &__hero-inner {
            height: 100%;

            display: flex;
            flex-direction: column;

            gap: 4vw;

            padding: 8vh 2vw 8vh 4vw;

            position: relative;
        }

        &__hero-content {
            display: flex;
            flex-direction: column;
            gap: 32px;

            color: var(--color-gray-0);
        }

        &__subtitle {
            opacity: .7;
        }

        &__illustration-1 {
            position: absolute;

            top: 12vh;
            right: 2vw;

            width: 1.75vw;
        }

        &__illustration-2 {
            transform: scaleX(-1);

            flex-grow: 1;

            img {
                height: 100%;
                max-height: 100%;
                object-fit: contain
            }
        }
    }
}
