@use '../abstracts/breakpoints' as *;

.header {
    background: var(--color-gradient);
    color: var(--color-gray-0);

    z-index: 999;

    margin-bottom: 24px;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 18px 0;

        @media (min-width: $breakpoint-phone-3) {
            padding: 22px 0px;
        }
    }

    &__logo {}

    &__actions {
        display: flex;
        align-items: center;

        gap: 16px;
    }

    &__btn--desktop {
        display: none;

        @media (min-width: $breakpoint-laptop-1) {
            display: block;
        }

        @media (min-width: $breakpoint-desktop-2) {
            display: none;
        }
    }

    &__btn--no-mobile {
        @media (max-width: ($breakpoint-laptop-1 - 1)) {
            display: none;
        }
    }

    &--app {
        border-bottom-left-radius: var(--radius-12);
        border-bottom-right-radius: var(--radius-12);

        box-shadow: var(--shadow);
    }

    @media(min-width: 1024px) {
        &--auth {
            display: none;
        }
    }

    &--landing {
        display: none;
    }

    &__decor img {
        height: 48px;
    }
}

.header {
    &__notification-wrap {
        position: relative;
    }

    &__notification-badge {
        position: absolute;
        top: 4px;
        right: 6px;

        width: 16px;
        height: 16px;

        background: var(--color-warning-500);
        box-shadow: 0 0 8px var(--color-warning-500);
        border-radius: var(--radius-circle);

        font-size: 11px;
        line-height: 1;

        display: flex;
        justify-content: center;
        align-items: center;

        &[hidden] {
            display: none;
        }
    }
}
