@use '../abstracts/breakpoints' as *;

.bottom-bar {
    position: fixed;

    z-index: 99999;

    border-top: 1px solid rgba(0, 0, 0, 0.05);

    background: var(--color-gray-0);

    border-radius: var(--radius-12) var(--radius-12) 0 0;

    bottom: 0;
    left: 0;
    right: 0;

    padding: 12px 0px;

    @media (min-width: $breakpoint-phone-3) {
        padding: 16px 0px;
    }

    @media (min-width: $breakpoint-laptop-1) {
        display: none;
    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8vw;

        @media (min-width: $breakpoint-phone-3) {
            gap: 16vw;
        }

        @media (min-width: $breakpoint-tablet-2) {
            gap: 4vw;
        }
    }
}
