.empty-state {
    display: grid;
    grid-template-columns: 1fr minmax(124px, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 16px;

    padding: 32px 16px;

    background: var(--color-gray-0);
    border-radius: var(--radius-12);

    &__illustration {
        justify-self: end;
        align-self: center;

        width: minmax(100%, 150px);

        img {
            display: block;

            max-width: 100%;
            max-height: 100%;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;

        max-width: 200px;
    }

    &__title {
        margin: 0;

        color: var(--color-gray-900);
    }

    &__text {
        margin: 0;

        color: var(--color-gray-600);

        line-height: 1.45;
    }

    &__actions {
        grid-column: 1/3;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    &__primary {
        width: min(100%, 220px);

        .button__inner {
            width: 100%;
        }
    }

    &__secondary {
        width: fit-content;

        .button__inner {
            color: var(--color-primary-700);
        }
    }
}
