.icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    &--sm {
        width: 24px;
        height: 24px;
        border-radius: var(--radius-4);
    }

    &--md {
        width: 32px;
        height: 32px;
        border-radius: var(--radius-12);
    }

    &--purple {
        background: var(--color-purple-500);
        color: var(--color-purple-900);
    }

    &--blue {
        background: var(--color-blue-500);
        color: var(--color-blue-900);
    }

    &--pink {
        background: var(--color-pink-500);
        color: var(--color-pink-900);
    }

    &--teal {
        background: var(--color-success-50);
        color: var(--color-success-500);
    }

    &--orange {
        background: var(--color-warning-50);
        color: var(--color-warning-500);
    }

    &--green {
        background: var(--color-green-500);
        color: var(--color-green-900);
    }

    &--danger {
        background: var(--color-gray-0);
        color: var(--color-danger-500);
    }

    &__icon {
        display: block;
    }
}
