.input {
    position: relative;
    width: 100%;

    .input-field__inner {
        position: relative;
    }

    &__status {
        position: absolute;
        top: 20px;
        right: 16px;

        display: none;

        color: var(--color-success-500);
        pointer-events: none;
        transition: right .2s ease;
    }

    &__message {
        margin: 10px 0 0;

        color: var(--color-danger-500);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.3;
    }

    &.is-error {
        .input-field__control {
            border-color: var(--color-danger-500);

            &:focus {
                border-color: var(--color-danger-500);
            }
        }

        .input-field__clear:hover {
            color: var(--color-danger-500);
        }
    }

    &.is-success {
        .input-field__control {
            padding-right: 48px;
        }

        .input__status {
            display: block;
        }

        .input-field__control:focus {
            border-color: var(--color-success-500);
        }

        &:has(.input-field__control:focus:not(:placeholder-shown)) {
            .input-field__control {
                padding-right: 84px;
            }

            .input__status {
                right: 48px;
            }
        }
    }
}
