@use '../abstracts/functions' as *;

body {
    color: var(--color-gray-900);

    font-family: "Nunito Sans", sans-serif;
}

.heading {
    line-height: 1;

    &--1 {
        font-size: fluid(42px, 68px);

        font-weight: 700;
    }

    &--2 {
        font-size: fluid(32px, 38px);

        font-weight: 700;
    }

    &--3 {
        font-size: fluid(24px, 24px);

        font-weight: 700;
    }

    &--4 {
        font-size: fluid(18px, 24px);

        font-weight: 800;
    }

    &--5 {
        font-size: 16;

        font-weight: 700;
    }

    &--6 {
        font-size: fluid(14px, 16px);

        font-weight: 700;
    }
}

.subtitle {
    &--1 {
        font-size: fluid(16px, 24px);
    }

    &--2 {
        font-size: fluid(14px, 16px);
    }

    &--3 {
        font-size: fluid(11px, 14px);
    }

}

.text {
    font-size: fluid(14px, 14px);
    font-weight: 400;

    &--small {
        font-size: 12px;
        font-size: fluid(12px, 16px);
    }

    &--muted {
        color: var(--color-text-muted);
    }
}
