// Phone
$breakpoint-phone-1: 320px;
$breakpoint-phone-2: 360px;
$breakpoint-phone-3: 430px;

// Tablet
$breakpoint-tablet-1: 600px;
$breakpoint-tablet-2: 768px;

// Laptop
$breakpoint-laptop-1: 1024px;

// Desktop
$breakpoint-desktop-1: 1280px;
$breakpoint-desktop-2: 1440px;
$breakpoint-desktop-3: 1920px;

// @use '../abstracts/breakpoints' as *;
